.slider-box {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: uppercase;
}

.arrows {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.car-name-box {
  height: 280px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.name-slide {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  overflow: hidden;
  z-index: 10;
}

.name-slide-item {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 64px;
}

.car-name {
  font-size: 200px;
  line-height: 200px;
}

.car-image-box {
  position: absolute;
  width: 100vw;
  top: 41%;
  display: flex;
  justify-content: start;
  z-index: 10;
}

.car-image {
  display: flex;
  z-index: 2000;
}

.car-image-item {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 1s ease-in-out;
}

.btn-box {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  gap: 2;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn {
  width: 180px;
  border-radius: 10px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(51, 51, 51, 0.8);
  transition: all 1.5s ease-in-out;
}

.indicator {
  width: 100%;
  display: flex;
  margin-top: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.indicator-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.indicator-item.active {
  background: rgba(51, 51, 51, 0.8);
}

.details-container {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 3rem 0rem;
  border: 1px solid #6c3636;
}

.specs-box {
  position: absolute;
  width: 120px;
  top: 35%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 2.3rem;
}

.specs-title {
  font-size: 16px;
  font-weight: 600;
  color: #454545;
  text-align: center;
}

.specs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.specs-item img {
  width: 30px;
  height: 30px;
}

.cars-images-box {
  position: absolute;
  width: 100%;
  bottom: -50%;
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.car-images {
  width: 280px;
}
